<div class="hero-unit">
	<h1>Adan's One Month Rails Project</h1>
	<h2>A young go hard's first try at Web 2.0</h2>
	<p>
		You've found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
		<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div






